<h2 style="margin-top: 10%;">{{title}}</h2>
<br><br>
<div class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Rechercher un médicament"
         aria-label="Search" [(ngModel)]="ref" (input)="onSearchMedecin()">
</div>
<ul class="list-group">
  <app-medicaments-list *ngFor="let item of medics" [name]="item.nomCommercial" [ref]="item.id" [idFam]="item.idFamille" [compo]="item.composition" [effect]="item.effets"
    [contraindication]="item.contreIndications"></app-medicaments-list>
</ul>
