<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
</head>
<body >
  <!-- Récupération et affichage du prénom et nom du visiteur -->
  <div style="margin-top: 10%; text-align: center;">
    <img class=" img-fluid animated zoomIn" src="../../assets/logo1.jpg" alt="LogoGSB">
    <h1 style="margin-top: 10%;" class="animated zoomIn">Bienvenue {{user.Prenom}} {{user.Nom}}</h1>
  </div>
</body>
</html>

